/*
Developer
https://scharss.github.io
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 100%;
    height: 50%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    background-color: #f1f1f1;
    margin-top: 5px;
}

.container {
    margin-top: 15px;
}

.coded-on-replit {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: rgb(17, 29, 44);
    border-radius: 6px;
    font-size: 12px;
}

.coded-on-replit img {
    width: 20px;
    margin-right: 4px;
    height: auto;
}

#link {
    color: black;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#tercera {
    bottom: 30px;
}

#barra {
    color: black;
}


/**************/

#main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2px;
    background-color: #f1f1f1;
}